node_modules/

# optional: lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# environment
.env

# build outputs
dist/
build/
credentials/

.*.json
# os files
.ds_store

scripts/
target

target
.wrangler
.fast-agent
