**/generated/*.ts
node_modules/

# optional: lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# environment
.env

# build outputs
dist/
build/

# os files
.ds_store

target

target
.wrangler

acl-manifests.json
capabilities.json
desktop-schema.json
linux-schema.json